

{% block content %}
{% from '_macros.html' import render_firld2 %}

<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
            </thead>

            <tbody>
                {% for alum in alumnos %}
                
                <tr>
                    <td>{{alum.nombre}}</td>
                    <td>{{alum.apaterno}}</td>
                    <td>{{alum.email}}</td>
                    <td><a href="eliminar?id={{alum.id}}"
                        class="btn btn-danger"><i class="icon-remove icon-white"></i>
                        Eliminar</a>
                    </td>

                    <td><a href="modificar?id={{alum.id}}"
                        class="btn btn-waring"><i class="icon-pencil icon-white"></i>
                        Modificar</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}