{% block content %}

<div class="col-xs-6">
    {%from "_macros.html" import render_Firld%}
    <form action="" method="post" novalidate>
        {{form.csrf_token}}
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="row control-group">
            <div class="form-group">
                {{render_Firld(form.matricula)}}
            </div>
        </div>
        {{render_Firld(form.nombre)}}
        {{render_Firld(form.apaterno)}}
        {{render_Firld(form.email)}}
        <input type="submit" id="al" name="al" value="Registrar">
    </form>
</div>
<div class="col-md-4">
    <h1>Matricula:{{datos[0]}}</h1><br>
    <h1>Nombre:{{datos[1]}}</h1>
    <h1></h1>
</div>

{% endblock %}