

{% block content %}
{% from '_macros.html' import CajasDinamicas %}

<form action="/CajasDinamicas" class="form-horizontal" name="form1" method="post">

    <div class="control-group" style="margin-top: 25px;margin-left: 100px ;">
        <label for="num0" class="control-label">Campos</label>
        <div class="controls">
            <input type="number" id="num0" class="input_xlarge" onchange="n(this)" type="button" name="num0" min="1"
                max="10" value="1">
        </div>
    </div>
    <hr>


    <div id="caja" style="margin-top: 25px;margin-left: 50px ;">
        <div class="span12">
            <div class="span2"></div>
        <span class="span4">Añada la cantidad de números que se van a introducir</span>
    </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-default btn-primary">
                Enviar
            </button>
        </div>
    </div>
</form>

<script>
    window.addEventListener('load', event => { document.getElementById('num0').value = 1; });
    function n(num) {
        var n = num.value;
        document.getElementById('caja').innerHTML = '';
        for (let i = 0; i < n; i++) {
            document.getElementById('caja').innerHTML += `{{ CajasDinamicas('num${i + 1}', '${i+1}') }}`
        }
    }
</script>
{% endblock %}