{% block content %}

<div class="col-xs-6">
    {%from "_macros.html" import render_Firld%}
    <form action="" method="post" novalidate>
        {{form.csrf_token}}
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="row control-group">
            <div class="form-group">
                {{render_Firld(form.matricula)}}
            </div>
        </div>
        {{render_Firld(form.username)}}
        {{render_Firld(form.password)}}
        <input type="submit" id="al" name="al" value="Registrar">
    </form>
</div>

{% endblock %}